<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="module text/javascript" src="/js/handle.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/yuku-t/jquery-textcomplete@v1.3.4/dist/jquery.textcomplete.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/chat.css" />

    <script
      src="https://cdn.socket.io/4.1.2/socket.io.min.js"
      integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
      crossorigin="anonymous"
    ></script>

    <!-- emoji picker -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css"
      rel="stylesheet"
    />
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.1/emojionearea.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script> -->
    
    <!-- detect adblock -->
  <script src="/js/prebid-ads.js"></script>
  <script>
    setTimeout(function() {
      if( window.canRunAds === undefined ){
      // adblocker detected, show fallback
      alert("AdBlock detect. Please disable")
      // window.location.href = window.location.href
    }
    }, 1000)
    
  </script>
  
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <h2 style="display: inline">Hello, <%=user.username%></h2>
        <a
          href="/logout"
          style="position: absolute; right: 200px ;"
          class="text-right btn btn-outline-warning btn-logout"
          >Logout <i class="fas fa-sign-out-alt"></i
        ></a>
      </div>

      <div class="row clearfix">
        <div class="col-lg-12">
          <div class="card chat-app">
            <div id="plist" class="people-list">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control txt-create-room"
                  placeholder="Create room..."
                />
                <div class="input-group-prepend btn-create-room">
                  <span class="input-group-text"
                    ><i class="fas fa-plus"></i
                  ></span>
                </div>
              </div>
              <ul class="list-unstyled chat-list mt-2 mb-0">
                <h6><i class="fas fa-comments"></i> Room Name:</h6>
                <div id="listRoom">
                  <% listRoom.forEach((e)=> {%> <% if (e.type !== 'user') { %>
                  <li class="clearfix" onclick="clickRoom('<%=e._id%>')">
                    <img src="<%=e.roomImage%>" alt="avatar" />
                    <div class="about">
                      <div class="name roomname <%=e._id%>"><%= e.name %></div>
                      <div class="status">
                        <i class="fa fa-circle offline"></i> left 7 mins ago
                      </div>
                    </div>
                  </li>
                  <%}%> <% })%>
                  <!-- <li class="clearfix active">
                            <img src="/img/avatar2.png" alt="avatar">
                            <div class="about">
                                <div class="name">Aiden Chavez</div>
                                <div class="status"> <i class="fa fa-circle online"></i> online </div>
                            </div>
                        </li> -->
                </div>

                <!-- Chưa cập nhật chức năng chat cá nhân -->
                <h6 style="padding-top: 1em">
                  <i class="fas fa-users"></i> Users:
                </h6>
                <div id="listUser">
                  <!-- <li class="clearfix">
                    <img src="/img/avatar3.png" alt="avatar" />
                    <div class="about">
                      <div class="name">Mike Thomas</div>
                      <div class="status">
                        <i class="fa fa-circle online"></i> online
                      </div>
                    </div>
                  </li>
                  <li class="clearfix">
                    <img src="/img/avatar2.png" alt="avatar" />
                    <div class="about">
                      <div class="name">Christian Kelly</div>
                      <div class="status">
                        <i class="fa fa-circle offline"></i> left 10 hours ago
                      </div>
                    </div>
                  </li>
                  <li class="clearfix">
                    <img src="/img/avatar2.png" alt="avatar" />
                    <div class="about">
                      <div class="name">Monica Ward</div>
                      <div class="status">
                        <i class="fa fa-circle online"></i> online
                      </div>
                    </div>
                  </li>
                  <li class="clearfix">
                    <img src="/img/avatar2.png" alt="avatar" />
                    <div class="about">
                      <div class="name">Dean Henry</div>
                      <div class="status">
                        <i class="fa fa-circle offline"></i> offline since Oct
                        28
                      </div>
                    </div>
                  </li> -->
                </div>
              </ul>
            </div>
            <div class="chat">
              <div class="chat-header clearfix">
                <div class="row">
                  <div class="col-lg-6 chat-info">
                    <a
                      href="javascript:void(0);"
                      data-toggle="modal"
                      data-target="#view_info"
                    >
                      <img
                        src="<%=user.avatar%>"
                        class="avatar"
                        id="roomImage"
                        alt="avatar"
                      />
                    </a>
                    <div class="chat-about">
                      <h6 class="m-b-0" id="currentName"></h6>
                      <small id="currentTime"></small>
                    </div>
                  </div>
                  <div class="col-lg-6 hidden-sm text-right">
                    <!-- <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a> -->
                    <a
                      href="/call"
                      target="_blank"
                      class="btn btn-outline-success btn-video-call"
                      ><i class="fas fa-video"></i> Video Call</a
                    >
                  </div>
                </div>
              </div>
              <div class="chat-history">
                <ul class="m-b-0" id="list-chat"></ul>
              </div>
              <div class="chat-message clearfix">
                <div class="input-group row input-send">
                  <div class="input-group-prepend user-writing"></div>

                  <!-- cần tối ưu lại kích thước các cột -->
                  <div
                    style="width: 85%"
                    class="input-group-prepend input-chat"
                  >
                    <input
                      type="text"
                      class="form-control txt-chat"
                      id="txt-chat"
                      placeholder="Enter text here..."
                    />
                  </div>

                  <div class="input-group-prepend btn-send-img">
                    <span class="input-group-text">
                      <label for="chatImage" class="chatImg"
                        ><i class="fas fa-images" style="cursor: pointer"></i
                      ></label>
                      <form enctype="multipart/form-data" id="chatimgform">
                        <input
                          type="file"
                          name="chatImage"
                          id="chatImage"
                          accept="image/png, image/jpeg, image/jpg"
                          style="display: none; visibility: hidden"
                        />
                      </form>
                    </span>
                  </div>
                  <div class="input-group-prepend btn-send">
                    <span class="input-group-text"
                      ><i class="far fa-paper-plane"></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="notify"></div>
  </body>
  <script type="module">
    import { clickRoom1, redirectTo1, clickUser1 } from "/js/handle.js";
    window.clickRoom = function clickRoom(id) {
      // alert("H1")
      clickRoom1(id);
    };
    window.redirectTo = function redirectTo(url) {
      redirectTo1(url);
    };
    window.clickUser = function clickUser(id) {
      clickUser1(id);
    };
    $(document).ready(function () {
      $("#txt-chat").emojioneArea({
        pickerPosition: "top"
      });
    });
  </script>

  
</html>
